@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="home-content" style="padding-bottom: 20px;">
    <div class="container">
        <div class="row suc-item">
            <div class="col-md-4">
                <div class="ul-item">
                    <span class="ul-num">@Umbraco.Field("#MemberTotal")</span>
                    <span class="ul-text">Trusted Worldwide by Companies</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ul-item" style="border-left: 1px solid #BDBDBD; border-right: 1px solid #BDBDBD;">
                    <span class="ul-num">@Umbraco.Field("#TaskTotal")</span>
                    <span class="ul-text">Extraction Tasks Concurrently Running</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ul-item">
                    <span class="ul-num">@Umbraco.Field("#NewDataPerDay")</span>
                    <span class="ul-text">Real-time Data Generated Daily</span>
                </div>
            </div>

        </div>
    </div>
</div>
