<div class="footer flex">
  <a href="/download" class="flex flex-middle">
    <span>Download</span>
    <small>Install Octoparse now</small>
  </a>
  <a href="/tutorial" class="flex flex-middle">
    <span>Tutorials</span>
    <small>Get started with rich tutorials</small>
  </a>
  <a href="https://www.youtube.com/channel/UCweDWm1QY2G67SDAKX7nreg" target="_blank" class="flex flex-middle">
    <span>Videos</span>
    <small>Step-by-step guides</small>
  </a>
  <a href="/contact" class="flex flex-middle">
    <span>Contact Us</span>
    <small>Feel free to contact us</small>
  </a>
</div>