<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false" />
    <section name="Examine" type="Examine.Config.ExamineSettings, Examine" requirePermission="false" />
    <section name="ExamineLuceneIndexSets" type="Examine.LuceneEngine.Config.IndexSets, Examine" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <sectionGroup name="umbracoConfiguration">
      <section name="settings" type="Umbraco.Core.Configuration.UmbracoSettings.UmbracoSettingsSection, Umbraco.Core" requirePermission="false" />
      <section name="BaseRestExtensions" type="Umbraco.Core.Configuration.BaseRest.BaseRestSection, Umbraco.Core" requirePermission="false" />
      <section name="FileSystemProviders" type="Umbraco.Core.Configuration.FileSystemProvidersSection, Umbraco.Core" requirePermission="false" />
      <section name="dashBoard" type="Umbraco.Core.Configuration.Dashboard.DashboardSection, Umbraco.Core" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <umbracoConfiguration>
    <settings configSource="config\umbracoSettings.config" />
    <BaseRestExtensions configSource="config\BaseRestExtensions.config" />
    <FileSystemProviders configSource="config\FileSystemProviders.config" />
    <dashBoard configSource="config\Dashboard.config" />
  </umbracoConfiguration>
  <urlrewritingnet configSource="config\UrlRewriting.config" />
  <microsoft.scripting configSource="config\scripting.config" />
  <clientDependency configSource="config\ClientDependency.config" />
  <Examine configSource="config\ExamineSettings.config" />
  <ExamineLuceneIndexSets configSource="config\ExamineIndex.config" />
  <log4net configSource="config\log4net.config" />
  <appSettings>
    <!--
      Umbraco web.config configuration documentation can be found here:
      http://our.umbraco.org/documentation/using-umbraco/config-files/#webconfig
      -->
    <add key="umbracoConfigurationStatus" value="7.4.1" />
    <add key="umbracoReservedUrls" value="~/config/splashes/booting.aspx,~/install/default.aspx,~/config/splashes/noNodes.aspx,~/VSEnterpriseHelper.axd" />
    <add key="umbracoReservedPaths" value="~/umbraco,~/install/" />
    <add key="umbracoPath" value="~/umbraco" />
    <add key="umbracoHideTopLevelNodeFromPath" value="true" />
    <add key="umbracoUseDirectoryUrls" value="true" />
    <add key="umbracoTimeOutInMinutes" value="20" />
    <add key="umbracoDefaultUILanguage" value="en" />
    <add key="umbracoUseSSL" value="false" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="webpages:Enabled" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="log4net.Config" value="config\log4net.config" />
    <add key="owin:appStartup" value="UmbracoDefaultOwinStartup" />
    <add key="Umbraco.ModelsBuilder.Enable" value="true" />
    <add key="Umbraco.ModelsBuilder.ModelsMode" value="PureLive" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--production:www.octoparse.com, test:test.octoparse.com, local:debug.octoparse.com-->
    <add key="DomainName" value="t.op.skieer.com" />
    <!--sandbox:412109390@qq.com
            production:isabella.ting.li@gmail.com
      -->
    <add key="PayPalBusinessName" value="412109390@qq.com" />
    <!--sandbox:xuiON2rBrcpiOd53UYYN9cUXIHZkvrkCnBpKvbTNev-znIdKrNPa_p_m2hm
            production:mkH-ua04ZKa9YWoZWeZrV9HOb0-8VAslyhPwIcAp9fNT-xefVK_0akW-6XW
      -->
    <add key="PayPalPDTToken" value="xuiON2rBrcpiOd53UYYN9cUXIHZkvrkCnBpKvbTNev-znIdKrNPa_p_m2hm" />
    <!--sandbox:https://www.sandbox.paypal.com/cgi-bin/webscr
            production:https://www.paypal.com/cgi-bin/webscr-->
    <add key="PaypalVerifyUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
    <add key="MailServer2" value="smtp.exmail.qq.com" />
    <add key="MailSender2" value="service@skieer.com" />
    <add key="MailSenderPassword2" value="SKIEERs@2012" />
    <add key="MailReciver2" value="service@skieer.com" />
    
    <add key="MailServer" value="smtp.exmail.qq.com" />
    <add key="MailSender" value="service@octoparse.com" />
    <add key="MailSenderPassword" value="BZYskieer2016" />
    <add key="MailReciver" value="service@octoparse.com" />
    
    <add key="MailSenderDisplayName" value="Octoparse" />
    <add key="MailSubject_ForgetPassword" value="Reset Octoparse account password[test]" />
    <add key="MailSubject_Activate" value="Confirm Octoparse Account[test]" />
    <add key="MailSubject_Welcome" value="Welcome to Octoparse[test]" />
    <!--代理商管理的网址123.206.202.64:8999-->
    <add key="AgentManagerUrl" value="http://192.168.0.7:8080" />
    <!--Skrill   正式的Skrill账号：octoparsesale@gmail.com-->
    <add key="PayToEmail" value="demoqcoflexible@sun-fish.com" />
    <add key="SkrillUrl" value="https://pay.skrill.com/" />
    <add key="OctoparseLogo" value="http://www.octoparse.com/images/logo.png" />
    <add key="BossEmmail" value="liubaoqiang@skieer.com" />
    <!--Braintree Payment-->
    <!--Sandbox:
    https://sandbox.braintreegateway.com/login
    -->
    <add key="BraintreeIsProduction" value="false" />
    <add key="BraintreeMerchantId" value="75qbtpjdpxz9gj6x" />
    <add key="BraintreePublicKey" value="pwm2r63qynxkypz3" />
    <add key="BraintreePrivateKey" value="5cc1ef5fa4137385f3f4553936b3b7f5" />
    <add key="BraintreeMerchantAccountId" value="skieer" />
    
        <!--优惠券服务Url-->
    <add key="CouponBaseUrl" value="http://101.200.193.134:9002" />

    <!--用户信息、其它未归类信息的Url-->
    <!--正式
    <add key="CommonBaseUrl" value="http://10.117.229.151:8999"/>
    -->
    <!--测试-->
    <add key="CommonBaseUrl" value="http://192.168.0.132:8080/octoparse.manager" />

    <!--是否开启自动续费时返还优惠券金额-->
    <add key="IsEnabledRefund" value="false" />
    
    <!--活动开始和结束时间（UTC）-->
    <add key="ActivityStartDate" value="2018/11/07 5:00:00" />
    <add key="ActivityEndDate" value="2018/11/29 5:00:00" />
	
	<add key="ZendeskSharedSecret" value="6plt6g4bliz46NX1vP0YuyRVTEtbvq9J4fy9S54f7V0KSTRB"/>
  </appSettings>
  <connectionStrings>
    <!--<remove name="umbracoDbDSN" />-->
    <add connectionString="Server=192.168.0.104;Database=Umbraco741;User ID=sa;Password=skieer@2015" name="umbracoDbDSN" providerName="System.Data.SqlClient" />
    <!--<add name="umbracoDbDSN" connectionString="Data Source=localhost;Initial Catalog=Umbraco;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="127.0.0.1" userName="username" password="password" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" targetFramework="4.5" maxRequestLength="51200" fcnMode="Single" />
    <!--
      If you are deploying to a cloud environment that has multiple web server instances,
      you should change session state mode from "InProc" to "Custom". In addition,
      change the connection string named "DefaultConnection" to connect to an instance
      of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <pages enableEventValidation="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="umbraco" namespace="umbraco.presentation.templateControls" assembly="umbraco" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UmbracoModule" type="Umbraco.Web.UmbracoModule,umbraco" />
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" />
    </httpModules>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="*_AppService.axd" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="umbraco/channels.aspx" type="umbraco.presentation.channels.api, umbraco" />
      <add verb="*" path="umbraco/channels/word.aspx" type="umbraco.presentation.channels.wordApi, umbraco" />
      <add verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
    </httpHandlers>
    <compilation defaultLanguage="c#" debug="true" batch="false" targetFramework="4.5.2">
      <assemblies>
        <remove assembly="System.Web.Http" />
        <remove assembly="System.Net.Http" />
        <remove assembly="Umbraco.ModelsBuilder" />
        <remove assembly="System.Collections" />
        <remove assembly="System.Collections.Concurrent" />
        <remove assembly="System.ComponentModel" />
        <remove assembly="System.ComponentModel.Annotations" />
        <remove assembly="System.ComponentModel.EventBasedAsync" />
        <remove assembly="System.Diagnostics.Contracts" />
        <remove assembly="System.Diagnostics.Debug" />
        <remove assembly="System.Diagnostics.Tools" />
        <remove assembly="System.Diagnostics.Tracing" />
        <remove assembly="System.Dynamic.Runtime" />
        <remove assembly="System.Globalization" />
        <remove assembly="System.IO" />
        <remove assembly="System.Linq" />
        <remove assembly="System.Linq.Expressions" />
        <remove assembly="System.Linq.Parallel" />
        <remove assembly="System.Linq.Queryable" />
        <remove assembly="System.Net.NetworkInformation" />
        <remove assembly="System.Net.Primitives" />
        <remove assembly="System.Net.Requests" />
        <remove assembly="System.ObjectModel" />
        <remove assembly="System.Reflection" />
        <remove assembly="System.Reflection.Emit" />
        <remove assembly="System.Reflection.Emit.ILGeneration" />
        <remove assembly="System.Reflection.Emit.Lightweight" />
        <remove assembly="System.Reflection.Extensions" />
        <remove assembly="System.Reflection.Primitives" />
        <remove assembly="System.Resources.ResourceManager" />
        <remove assembly="System.Runtime" />
        <remove assembly="System.Runtime.Extensions" />
        <remove assembly="System.Runtime.InteropServices" />
        <remove assembly="System.Runtime.InteropServices.WindowsRuntime" />
        <remove assembly="System.Runtime.Numerics" />
        <remove assembly="System.Runtime.Serialization.Json" />
        <remove assembly="System.Runtime.Serialization.Primitives" />
        <remove assembly="System.Runtime.Serialization.Xml" />
        <remove assembly="System.Security.Principal" />
        <remove assembly="System.ServiceModel.Duplex" />
        <remove assembly="System.ServiceModel.Http" />
        <remove assembly="System.ServiceModel.NetTcp" />
        <remove assembly="System.ServiceModel.Primitives" />
        <remove assembly="System.ServiceModel.Security" />
        <remove assembly="System.Text.Encoding" />
        <remove assembly="System.Text.Encoding.Extensions" />
        <remove assembly="System.Text.RegularExpressions" />
        <remove assembly="System.Threading" />
        <remove assembly="System.Threading.Tasks" />
        <remove assembly="System.Threading.Tasks.Parallel" />
        <remove assembly="System.Xml.ReaderWriter" />
        <remove assembly="System.Xml.XDocument" />
        <remove assembly="System.Xml.XmlSerializer" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Web.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Umbraco.ModelsBuilder" />
        <add assembly="System.Collections, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Collections.Concurrent, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.ComponentModel.Annotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.ComponentModel.EventBasedAsync, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Diagnostics.Contracts, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Diagnostics.Debug, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Diagnostics.Tools, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Diagnostics.Tracing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Dynamic.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Globalization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.IO, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Linq.Expressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Linq.Parallel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Linq.Queryable, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Net.NetworkInformation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Net.Primitives, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Net.Requests, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.ObjectModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Reflection, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Reflection.Emit, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Reflection.Emit.ILGeneration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Reflection.Emit.Lightweight, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Reflection.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Reflection.Primitives, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Resources.ResourceManager, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Runtime.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Runtime.InteropServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Runtime.InteropServices.WindowsRuntime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Runtime.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Runtime.Serialization.Json, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Runtime.Serialization.Primitives, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Runtime.Serialization.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Security.Principal, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.ServiceModel.Duplex, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.ServiceModel.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.ServiceModel.NetTcp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.ServiceModel.Primitives, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.ServiceModel.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Text.Encoding, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Text.Encoding.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Text.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Threading, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Threading.Tasks, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Threading.Tasks.Parallel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Xml.ReaderWriter, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Xml.XDocument, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Xml.XmlSerializer, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".cshtml" type="umbraco.MacroEngines.RazorBuildProvider, umbraco.MacroEngines" />
        <add extension=".vbhtml" type="umbraco.MacroEngines.RazorBuildProvider, umbraco.MacroEngines" />
        <add extension=".razor" type="umbraco.MacroEngines.RazorBuildProvider, umbraco.MacroEngines" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name="yourAuthCookie" loginUrl="login.aspx" protection="All" path="/" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <!-- Membership Provider -->
    <membership defaultProvider="OctoparseMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="UmbracoMembershipProvider" type="Umbraco.Web.Security.Providers.MembersMembershipProvider, Umbraco" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="8" useLegacyEncoding="true" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" defaultMemberTypeAlias="Member" passwordFormat="Hashed" />
        <add name="UsersMembershipProvider" type="Umbraco.Web.Security.Providers.UsersMembershipProvider, Umbraco" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="8" useLegacyEncoding="true" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" />
        <add name="OctoparseMembershipProvider" type="Octoparse.Web.providers.OctoparseMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" defaultMemberTypeAlias="Another Type" passwordFormat="Hashed" />
      </providers>
    </membership>
    <!-- Role Provider -->
    <roleManager enabled="true" defaultProvider="OctoparseRoleProvider">
      <providers>
        <clear />
        <add name="UmbracoRoleProvider" type="Umbraco.Web.Security.Providers.MembersRoleProvider" />
        <add name="OctoparseRoleProvider" type="Octoparse.Web.providers.OctoparseRoleProvider" />
      </providers>
    </roleManager>
    <siteMap>
      <providers>
        <remove name="MySqlSiteMapProvider" />
      </providers>
    </siteMap>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <remove name="UrlRewriteModule" />
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
      <remove name="UmbracoModule" />
      <add name="UmbracoModule" type="Umbraco.Web.UmbracoModule,umbraco" />
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <remove name="ClientDependencyModule" />
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
      <!-- Needed for login/membership to work on homepage (as per http://stackoverflow.com/questions/218057/httpcontext-current-session-is-null-when-routing-requests) -->
      <remove name="FormsAuthentication" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" />
    </modules>
    <handlers accessPolicy="Read, Write, Script, Execute">
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <remove name="Channels" />
      <remove name="Channels_Word" />
      <remove name="ClientDependency" />
      <remove name="MiniProfiler" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" name="Channels" preCondition="integratedMode" path="umbraco/channels.aspx" type="umbraco.presentation.channels.api, umbraco" />
      <add verb="*" name="Channels_Word" preCondition="integratedMode" path="umbraco/channels/word.aspx" type="umbraco.presentation.channels.wordApi, umbraco" />
      <add verb="*" name="ClientDependency" preCondition="integratedMode" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core" />
      <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- Adobe AIR mime type -->
    <staticContent>
      <remove fileExtension=".air" />
      <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".less" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <!-- Ensure the powered by header is not returned -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!-- Increase the default upload file size limit -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
	<rewrite>
            <rules>
                <rule name="FirstTutorialCategory Rewrite">
                    <match url="(getting-started|building-tasks|case-tutorials|troubleshooting)/([\w-]*)" />
                    <action type="Rewrite" url="/{R:1}?category={R:2}" />
                    <conditions>
                    </conditions>
                </rule>
				<rule name="Product redirect" stopProcessing="true">
                    <match url="Product$" ignoreCase="false" />
                    <action type="Redirect" url="/product" />
                </rule>
              <rule name="Pricing redirect" stopProcessing="true">
                <match url="Pricing$" ignoreCase="false" />
                <action type="Redirect" url="/pricing" />
              </rule>
              <rule name="Download redirect" stopProcessing="true">
                <match url="Download$" ignoreCase="false" />
                <action type="Redirect" url="/download" />
              </rule>
              <rule name="Blog redirect" stopProcessing="true">
                <match url="Blog$" ignoreCase="false" />
                <action type="Redirect" url="/blog" />
              </rule>
              <rule name="Login redirect" enabled="true" stopProcessing="true">
                <match url="^Login$" ignoreCase="false" />
                <action type="Redirect" url="/login" />
              </rule>
              <rule name="SignUp redirect" stopProcessing="true">
                <match url="SignUp$" ignoreCase="false" />
                <action type="Redirect" url="/signup" />
              </rule>
              <rule name="Profile redirect" stopProcessing="true">
                <match url="Profile$" ignoreCase="false" />
                <action type="Redirect" url="/profile" />
              </rule>

              <rule name="Subscribe redirect" stopProcessing="true">
                <match url="Subscribe$" ignoreCase="false" />
                <action type="Redirect" url="/subscribe" />
              </rule>
              <rule name="SubscribeCoupons redirect" stopProcessing="true">
                <match url="Subscribe/Coupons$" ignoreCase="false" />
                <action type="Redirect" url="/subscribe/coupons" />
              </rule>
              <rule name="SubscribeTransactions redirect" stopProcessing="true">
                <match url="Subscribe/Transactions$" ignoreCase="false" />
                <action type="Redirect" url="/subscribe/transactions" />
              </rule>
              <rule name="SubscribePaymentMethod redirect" stopProcessing="true">
                <match url="Subscribe/PaymentMethod$" ignoreCase="false" />
                <action type="Redirect" url="/subscribe/paymentmethod" />
              </rule>
              <rule name="SubscribeBillingSettings redirect" stopProcessing="true">
                <match url="Subscribe/BillingSettings$" ignoreCase="false" />
                <action type="Redirect" url="/subscribe/billingsettings" />
              </rule>
              <rule name="JoinAffiliateProgram redirect" stopProcessing="true">
                <match url="JoinAffiliateProgram$" ignoreCase="false" />
                <action type="Redirect" url="/joinaffiliateprogram" />
              </rule>
              <rule name="DataScrapingService redirect" stopProcessing="true">
                <match url="Data-Scraping-Service$" ignoreCase="false" />
                <action type="Redirect" url="/data-scraping-service" />
              </rule>
              <rule name="FeaturesComparison redirect" stopProcessing="true">
                <match url="FeaturesComparison$" ignoreCase="false" />
                <action type="Redirect" url="/featurescomparison" />
              </rule>
              <rule name="changePassword redirect" stopProcessing="true">
                <match url="changePassword$" ignoreCase="false" />
                <action type="Redirect" url="/changepassword" />
              </rule>
              <rule name="forgetPassword redirect" stopProcessing="true">
                <match url="forgetPassword$" ignoreCase="false" />
                <action type="Redirect" url="forgetpassword" />
              </rule>
              <rule name="Help redirect" stopProcessing="true">
                <match url="Help$" ignoreCase="false" />
                <action type="Redirect" url="/help" />
              </rule>
              <rule name="TutorialSmartMode redirect" stopProcessing="true">
                <match url="Tutorial/SmartMode$" ignoreCase="false" />
                <action type="Redirect" url="/tutorial/smartmode" />
              </rule>
            </rules>
        </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Old asp.net ajax assembly bindings -->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <!-- Ensure correct version of MVC -->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <!-- Ensure correct version of HtmlAgilityPack -->
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="umbraco">
    <system.webServer>
      <urlCompression doStaticCompression="false" doDynamicCompression="false" dynamicCompressionBeforeCache="false" />
    </system.webServer>
  </location>
  <location path="App_Plugins">
    <system.webServer>
      <urlCompression doStaticCompression="false" doDynamicCompression="false" dynamicCompressionBeforeCache="false" />
    </system.webServer>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"-->
        <binding name="BasicHttpBinding_IOctopusShareService" />
        <binding name="BasicHttpBinding_ISkieerMembershipService" />
        <binding name="BasicHttpBinding_ISkieerRoleService" />
        <binding name="BasicHttpBinding_ICharging" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.103:8012/ShareService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOctopusShareService" contract="OctopusShareService.IOctopusShareService" name="BasicHttpBinding_IOctopusShareService" />
      <endpoint address="http://192.168.0.103:8016/SkieerMembershipService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISkieerMembershipService" contract="SkieerMembershipService.ISkieerMembershipService" name="BasicHttpBinding_ISkieerMembershipService" />
      <endpoint address="http://192.168.0.103:8016/SkieerRoleService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISkieerRoleService" contract="SkieerRoleService.ISkieerRoleService" name="BasicHttpBinding_ISkieerRoleService" />
      <endpoint address="http://192.168.0.103:8017/ChargeService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICharging" contract="SkieerBillingService.ICharging" name="BasicHttpBinding_ICharging" />
    </client>
  </system.serviceModel>
</configuration>