@using Umbraco.Web;
@using Octoparse.Web;
@model Octoparse.Web.Models.OrderMode
@{
    Layout = "~/Views/octAccountLayout.cshtml";
}
@section styles{


}

<div class="container" style="padding-top: 84px;">
                <div class="row">
                   <div class="col-xs-12">
                   		<h3 class="ro-title">Payment Canceled</h3>
                   </div>
                </div>
                <div class="row" style="margin-bottom: 20px;">
                	<div class="col-xs-4" style="padding-right: 0;">
                		<div class="st-jdt st-jdt-active st-jdt-bg3">
                			<span>Review Order</span>
                		</div>
                	</div>
                	<div class="col-xs-4" style="padding: 0;">
                		<div class="st-jdt st-jdt-active st-jdt-bg3">
                			<span>Pay</span>
                		</div>
                	</div>
                	<div class="col-xs-4" style="padding-left: 0;">
                		<div class="st-jdt st-jdt-active">
                			<span>Payment Confirmation</span>
                		</div>
                	</div>
                </div>
                <div class="row" style="margin-bottom: 100px;">
                	<div class="col-xs-12">
                		<div style="text-align: center;margin-top: 20px;">
                			<span style="font-size: 34px;color: #8a6d3b;font-family: fantasy;letter-spacing: 2px;">Payment Canceled</span>
                		</div>
                	</div>
                </div>
               
                <div class="row" style="margin-bottom: 200px;">
                	<div class="col-xs-12" style="text-align: center;">
                		<a style="width: 180px;background: #08A9E3;color: #fff;padding: 14px 0;font-size: 14px; margin-right: 10px;" class="btn" href="/orders">View My Orders</a>
                		<a class="btn" style="width: 180px;padding: 14px 0;font-size: 14px;color: #494949;border: 1px solid #BDBDBD;" href="/profile">Back to User Center</a>
                	</div>
                </div>
            </div>

@section scripts{
    <script>
        jQuery(function ($) {

        });
    </script>

}
