@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "octLayout.cshtml";
}

		<div class="container" style="padding-top: 84px;">
                <div class="row" style="margin-bottom: 100px;">
                	<div class="col-xs-12">
                		<div style="text-align: center;margin-top: 100px;">
                			<span style="display: inline-block;overflow: hidden;">
                				<img src="/images/mail.gif" alt="" />
                			</span>
                		</div>
                		<div style="text-align: center;margin-top: 20px;">
                			<span style="font-size: 22px;color: #036C94;letter-spacing: 1px;font-family: fantasy;font-weight: normal;">Messages submitted <br>Thank you for your contact</span>
                     
                		</div>
                	</div>
                </div>
               
                <div class="row" style="margin-bottom: 200px;">
                	<div class="col-xs-12" style="text-align: center;">
                		<a style="background: #08A9E3;color: #fff;padding: 14px 40px;font-size: 14px; margin-right: 10px;" class="btn" href="/">back</a>
                	</div>
                </div>
            </div>