@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "octLayout.cshtml";
  ViewBag.PageTitle += "Data Extraction - ";
  ViewBag.PageKeywords = "Data Extraction, Website Scraper,Web Scraping,Data Scraping, Web Crawling,Web Crawler,Scraping Tool,Scraper Tool,,Web Extractor, Email Extractor, Scraper Free,Scraping Free,Free Extraction,free web crawler,free online email extractor,free web scraping software, Cloud Platform";
  ViewBag.Description = "Best free data extraction tool for scraping all the web data with productivity. It turns unstructured or semi-structured data into visual formats without programming.";
}

@section styles {
  <style>
    .banner {height: 428px;background-image: url(/images/data-extraction/banner.jpg);align-items: center;font-weight: bold;color:#fff;text-shadow:0 2px 4px rgba(0,0,0,.5);}
    .banner h1 {font-size: 50px;margin-top:115px;}
    .banner p {font-size: 26px;margin-top:50px;width: 806px;text-align: center;}

    .container-wrap {background-color: #ddd;height: 2570px;}
    .main-container {position: relative;background-color: #fff;width: 1200px;margin: 0 auto;bottom: 39px;}
    .main-container hr {border-top: 1px solid #c1c1c1;width: 800px;margin: 0 auto 50px;}

    .box {align-items: center;width: 800px;margin: 0 auto 50px;box-sizing: border-box;padding: 0 50px}
    .box .box-title {margin-top: 50px;font-size: 30px;color: #333333;text-align: center;position: relative;font-weight: bold;}
    .box .box-title img {position: absolute;top: -14px;left: -30px;}
    .box .button {border:1px solid #1762cc;text-decoration: none;margin: auto 0 34px;background-color:#fff;border-radius:2px;width:158px;height:38px;color:#1762cc;font-size:16px;letter-spacing:1px;transition: all 300ms;}
    .box .button:actived {color:inherit;}
    .box .button:hover {color: #fff;background-color: #1762cc;}

    .box-2 {height: 640px;background-image: url(/images/data-extraction/bg1.jpg);}
    .box-3 {height: 590px;background-image: url(/images/data-extraction/bg2.jpg);}
    .box-4 {height: 490px;background-image: url(/images/data-extraction/bg3.jpg);}

    .box-1 {}
    .box-1 .preview-text {font-size:20px;color:#666;margin: 57px 0 27px;}
    .box-1 .preview-text a {color: #1762cc;font-weight: bold;}

    .box-2 .content-wrap {height: 210px;justify-content: space-between;margin-top: 53px;}
    .box-2 p {margin: 0;font-size: 19px;color: #666;line-height: 30px;}
    .box-2 p a {color: #1762cc;font-weight: bold;}
    .box-2 ul {margin: 24px 0 0;font-size: 16px;color: #666666;width: 100%;}

    .box-3 .content-wrap {margin-top: 50px;justify-content: space-between;height: 330px}
    .box-3 p {margin: 0;font-size: 20px;color: #666;}
    .box-3 p a {color: #1762cc;font-weight: bold;}

    .box-4 ul {width:100%;font-size: 20px;color: #666;height: 240px;margin: 40px 0 0;color: #1762cc;}
    .box-4 li {line-height: 38px;color: #1762cc;}
    .box-4 li a {color: #1762cc;text-decoration: none}
    .box-4 li a:hover {text-decoration: underline;color: #1762cc;}
    .box-4 li a:actived {color: inherit;}

    .footer-p {background-image: url(/images/data-extraction/bg4.jpg);height: 300px;width: 100%;background-position: center;background-size: cover;}
    .footer-p .content-wrap {width: 1200px;margin: 0 auto;}
    .footer-p .footer-content {width: 480px;margin: 0 154px 0 auto;}
    .footer-p .footer-content .title {font-size: 32px;color: #ffffff;font-weight: bold;margin-top: 47px;}
    .footer-p .footer-content ul {margin: 24px 0 0 0;}
    .footer-p .footer-content li {color: #fff;font-size: 16px;line-height: 30px;}
    .footer-p .footer-content li a {color: #fff;}
  </style>
}

<div class="banner flex flex-column">
  <h1>Data Extraction</h1>
  <p>Data Extraction is the process or act of capturing web data that is either semi-structured or unstructured from web pages and turning the raw data into analyzable or table style formats.</p>
</div>
<div class="container-wrap">
  <div class="main-container flex flex-column">
    <div class="box box-1 flex flex-column">
      <div class="box-title"><img width="36" height="47" src="/images/data-extraction/number1.png" alt="number1.png"><span>Quick and Easy Data Extraction with Octoparse</span></div>
      <p class="preview-text">See how Octoparse make <a href="/">data extraction</a> easy and quick!</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Cw32LNpzxFk" frameborder="0" gesture="media" allowfullscreen></iframe>
    </div>
    <hr>
    <div class="box box-2 flex flex-column">
      <div class="box-title"><img width="36" height="47" src="/images/data-extraction/number2.png" alt="number2.png"><span>Data Extraction Uses</span></div>
      <div class="content-wrap flex flex-column">
        <p>Increasingly many businesses publish data on the Internet. This information includes product, customer and supplier details also other valuable data that is being used to do things that give them a competitive advantage in their industry.</p>
        <p><a href="/">Data extraction</a> uses for businesses and individuals are various. Each has his or own special need for extracting data. Most of users at Octoparse are using web <a href="/ ">data extraction</a> for one or more of following purposes:</p>
      </div>
      <ul>
        <li>Monitoring prices on e-commerce websites</li>
        <li>Extracting leads from directories websites like Yellowpages or Yelp</li>
        <li>Tracking product information from competitors website</li>
        <li>Extracting data from real estate websites to contact retailers</li>
        <li>Retrieving business profile or people social profiles</li>
        <li>Extracting job postings or candidates for recruitment</li>
      </ul>
      <a href="/Product" class="button flex flex-middle">Learn More</a>
    </div>
    <hr>
    <div class="box box-3 flex flex-column">
      <div class="box-title"><img width="36" height="47" src="/images/data-extraction/number3.png" alt="number3.png"><span>Why Octoparse?</span></div>
      <div class="content-wrap flex flex-column">
        <p>Octoparse applies advanced machine learning algorithm that allows users of all types to easily and affordably extract and manage web data. With Octoparse you can easily create a data extractor to retrieve any data from the web while telling the software the data that needs to be extracted. Just click around to select the data you need to extract – that’s how easy it is to build an extractor. </p>
        <p>With its ease of use and user-friendly feature, data that previous took weeks for individual or group to gather can now be gathered in minutes. Compared to traditional <a href="/">data extraction</a> solutions, Octoparse is making <a href="/">data extraction</a> more cost-efficient and less time-consuming. It allows you not only to keep up with competition but to stay ahead the game.</p>
      </div>
      <a href="/contact#request-a-quote" class="button flex flex-middle">Contact Us</a>
    </div>
    <hr>
    <div class="box box-4 flex flex-column">
      <div class="box-title"><img width="36" height="47" src="/images/data-extraction/number4.png" alt="number4.png"><span>Octoparse Training Tutorials</span></div>
      <ul>
        <li class="text-blue"><a href="/doc-wf/build-your-first-task">Start My First Data Extraction Task in Octoparse</a></li>
        <li><a href="/tutorial/scrape-data-from-a-list-of-urls-by-creating-a-simple-scraper">Extract Data from a List of URLs by Creating a Simple Scraper</a></li>
        <li><a href="/tutorial/scrape-data-from-websites-with-pagination-1">Extract Data with Pagination</a></li>
        <li><a href="/tutorial/scrape-websites-that-require-login">Extract Data behind the login</a></li>
        <li><a href="/tutorial/how-to-scrape-data-by-searching-multiple-keywords-on-a-website">Keyword-based Data Extraction</a></li>
        <li><a href="/tutorial/schedule-data-extraction-get-real-time-data">Schedule My Data Extraction Tasks to Run Regularly</a></li>
      </ul>
      <a href="/tutorial" class="button flex flex-middle">Learn More</a>
    </div>
  </div>
</div>
<div class="footer-p flex">
  <div class="content-wrap">
    <div class="footer-content">
      <div class="title">Related Resources for Data<br>Extraction with Octoparse</div>
      <ul>
        <li><a href="http://scraping.pro/octoparse-scraping-tool-designed-non-programmers">Octoparse Product Review on Scraping.pro</a></li>
        <li><a href="http://www.capterra.com/data-extraction-software">Octoparse Ranks 1st at Capterra.com</a></li>
        <li><a href="https://nelog.jp/octoparse">Octoparse Product Review on Japanese Tech Site</a></li>
      </ul>
    </div>
  </div>
</div>

@section scripts {
  <script></script>
}