@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "octLayout.cshtml";
}

@section styles{
	<style>
		body{background: #f8f8f8;}
		
		.docs-body{border: 1px solid #E5E5E5;padding: 10px 27px;padding-bottom: 200px;overflow: hidden;background: #fff;min-height: 700px;margin-bottom: 100px;}
		.docsItem{height: 76px;line-height: 76px;border-bottom: 1px solid #e5e5e5;}
		.docsItem>a{font-size: 15px;color: #333;text-decoration: none;display: block;padding-left: 20px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
		.docsItem:hover>a{color: #006F94;text-decoration: none;}
	</style>
	
}
<div class="wrap-body">
   @Html.Partial("ocTutorialTop")
   <div class="tutorialBody">
		<div class="container tutos-body">
			<div class="row tutos">
				<div class="col-md-3">
					<div class="leftbar">
						<div class="leftitem">
							<div class="title">All</div>
							<ul class="leftnav">
								<li class="active">
									<a href="">Grt Started</a>
									<ul>
										<li><a href="">dasdasda</a></li>
										<li><a href="">dasdasda</a></li>
										<li><a href="">dasdasda</a></li>
									</ul>
								</li>
								<li class="in"><a href="">Grt Started</a></li>
								<li><a href="">Grt Started</a></li>
								<li><a href="">Grt Started</a></li>
							</ul>
						</div>
						
					</div>
				</div>
				<div class="col-md-9">
					<div class="docs-body">
						<div class="docsItem">
							<a href="">How to Check Data Extracted in Octoparse</a>
						</div>
						<div class="docsItem">
							<a href="">How to Check Data Extracted in Octoparse</a>
						</div>
						<div class="docsItem">
							<a href="">How to Check Data Extracted in Octoparse</a>
						</div>
						<div class="docsItem">
							<a href="">How to Check Data Extracted in Octoparse</a>
						</div>
						<div class="docsItem">
							<a href="">How to Check Data Extracted in Octoparse</a>
						</div>
						<div class="docsItem">
							<a href="">How to Check Data Extracted in Octoparse</a>
						</div>
						<div class="docsItem">
							<a href="">How to Check Data Extracted in Octoparse</a>
						</div>
						<div class="docsItem">
							<a href="">How to Check Data Extracted in Octoparse</a>
						</div>
						<div class="docsItem">
							<a href="">How to Check Data Extracted in Octoparse</a>
						</div>
						<div class="docsItem">
							<a href="">How to Check Data Extracted in Octoparse</a>
						</div>
						<div class="docsItem">
							<a href="">How to Check Data Extracted in Octoparse</a>
						</div>
					</div>
				</div>
			</div>
		</div>
   </div>
</div>
@section scripts{
	<script>
	    $(function(){
	    	
	    })
	</script>
}
