@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "octLayout.cshtml";
}
@section styles{
	<style type="text/css">
           .btn-back{border: 1px solid #0087FF;font-size: 18px;padding: 6px 30px;border-radius: 3px;color: #0087FF!important;margin-top: 40px;}
			.btn-back:hover{background: #0087FF;color: #fff!important;}
    </style>
	
}
<div class="" style="background:#fff;padding-top:40px;padding-bottom:100px;">
			<div class="container">
				<div class="text-center">
					<img src="/images/404_text.png" alt="">
				</div>
				<div class="text-center">
					<img src="/images/404_logo.gif" alt="">
				</div>
				<div class="text-center">
					<a class="btn btn-back" href="/">Back to home</a>
				</div>
			</div>
		</div>