@using Octoparse.Web.Models;
@{
	Layout = "octLayout.cshtml";
	if(!User.Identity.IsAuthenticated){
		Response.Redirect("/Login");
	}
}



<div class="row" style="margin-bottom: 100px;">
                	<div class="col-xs-12">
                		<div style="text-align: center;margin-top: 100px;">
                			<span style="display: inline-block;overflow: hidden;">
                				<img src="/images/mail.png" alt="">
                			</span>
                		</div>
                		<div style="text-align: center;margin-top: 20px;">
                			<span style="font-size: 22px;color: #036C94;letter-spacing: 1px;font-family: fantasy;font-weight: normal;">Verify mailbox and activate the account</span>
                            <p style='color:#999'>Check your Spam or Bulk E-Mail folder just in case the confirmation email got delivered there</p>
                		</div>
                	</div>
                </div>
						
<div class="row" style="margin-bottom: 200px;">
                	<div class="col-xs-12" style="text-align: center;">
                		<a style="background: #08A9E3;color: #fff;padding: 14px 40px;font-size: 14px; margin-right: 10px;" class="btn" href="/profile">Go to User Center</a>
                	</div>
                </div>
                
<!-- Google Code for &#39029;&#38754;&#35775;&#38382;&#36716;&#21270; Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 934989378;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "-psGCJTfoWoQwpzrvQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/934989378/?label=-psGCJTfoWoQwpzrvQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
