
/* login page */

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }



/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #b94a48;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #468847;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #b94a48;
}

/* styles for validation helpers */
.field-validation-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 0;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #eed3d7;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}




