
@{
    Layout="~/Views/octAccountLayout.cshtml";  
    //Layout="~/Views/octLayout.cshtml";
    ViewBag.Title="Committed Successfully";
}

<div class="row" style="min-height:500px;text-align: center;">
    <div class="col-sm-12" style="margin:10% 0;">
        <h2>Dear @ViewBag.UserName </h2>
        <h3>Your form has been submitted successfully!</h3>
        <h3>Our sale team will contact you shortly.</h3>
        <a href="/" class="btn btn-lg btn-primary-my" style="float:none">Return to Homepage</a>
    </div>
</div> 