@using Umbraco.Web;
@model Octoparse.Web.Models.BuyModel
@{
    Layout = null;
}

        <div class="row">
	    <div class="col-md-12">
		    <p class="alert alert-danger">
                Can't buy the product.
		    </p>
	    </div>
    </div>
    
