.price-card ul, .price-card li {margin:0;padding: 0;}
.price-card {position:relative;width:298px;font-family:PingFangSC-Regular;background-color:#fff;height:852px;box-shadow:0 0 20px 0 rgba(0,0,0,0.50);transition: box-shadow 300ms;}
.price-card:hover {box-shadow:0 0 20px 0 rgba(0,0,0,0.70);}
.price-card > header {height:348px;background-color: #2095f2;color:#fff;text-align:center;position:relative;align-items:center;}
.price-card > header.most-popular {background-color: #0062d4}
.price-card .card-title {font-size:32px;margin:40px 0 3px 0;height:45px;}
.price-card .card-title + span {font-size:16px;border-bottom:solid 1px #fff;height:42px;padding-bottom:20px;width:260px;}
.price-card .price {font-size:32px;margin: 13px 0 0 0;height:45px;}
.price-card .price + span {font-size:16px;opacity:0.6;display:block;height:44px;margin-bottom:21px;line-height:22px;}
.price-card .btn-buy {text-decoration: none;width:170px;height:54px;border: none;background-color: transparent;background-image: url('/images/btn-buy-normal.png');color: #fff;}
.price-card .btn-buy:hover, .price-card .btn-buy:active {background-image: url('/images/btn-buy-click.png');color: #c76c00;}
.price-card .btn-buy + a,.price-card .btn-buy + a:focus {font-weight: bold;font-size:12px;color:#fff;line-height:17px;margin-top:12px;text-decoration:none;cursor:default;}
.price-card .btn-buy + a.request-pro-tiral:hover {text-decoration:underline;cursor:pointer;}
.price-card .other-info {font-size:16px;margin:30px 0 0 0;line-height:24px;height:66px;}
.price-card .other-info + .btn-buy {margin-top:27px}

.price-card li {height:42px;line-height:42px;font-size:14px;list-style-type:none;padding: 0;margin:0 0 0 30px;}
.price-card li .fa {margin-left: 10px;font-size: 16px;vertical-align: middle;}
.price-card ul.blue {color:#2282f2;font-weight: bold;}
.price-card ul.blue {font-weight: normal;}
.price-card > p {padding:0 20px;}

#current-plan-tag, #most-popular-tag {position: absolute;top:0;left:0;z-index: 1;}