.page-title {text-align:center;height:100px;background-color:#2095f2;color:#fff;}
.breadcrumb {background-color:transparent;padding:20px 0;border-bottom:solid 1px #ddd;}

.no-data-tips {margin: 30px 0;font-size: 30px;}
.search-tips {font-size: 20px;margin: 14px 0;}
.search-tips .keyword {color: #00f}

.article-list article {border-bottom:solid 1px #ddd;padding:20px 0;}
.article-list .publish-time {margin-bottom:10px;color:#aaa;}
.article-list header {margin-bottom:10px;font-size:20px;font-weight:bold;}
.article-list .category-list {margin:0;padding:0;}
.article-list .category-list li {list-style:none;background-color:#2095f2;height:30px;padding:0 10px;margin-right:10px;border-radius:30px;}
.article-list .category-list li > a,
.article-list .category-list li > a:hover,
.article-list .category-list li > a:focus,
.article-list .category-list li > a:active {color:#fff;text-decoration: none;}