@model Octoparse.Web.Models.ApplicationFreeTrialModel
@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/octAccountLayout.cshtml";
    ViewBag.Title="Committed Successfully";
}

@section styles{
  <link rel="stylesheet" href="/css/flex.css">
  <style>
    .main {text-align:center;margin:150px 0 150px;justify-content:space-between;}
    .main .btn-regular {padding:8px 80px;font-size:20px;margin-top: 30px;}
  </style>
}

<div class="flex flex-column flex-middle main">
    <h1 style="font-weight: bold;">Congratulations!<br>Your Octoparse 5-day Pro trial request has been approved.</h1>
    <br>
    <p style="font-size:22px">If you are using Octoparse with the Basic Plan, please close the software<br>and start it again to use the Professional Plan trial.<br><br>Always reach out to support@octoparse.com if you have need any help!</p>
    <a href="/" class="btn-regular">Return to Homepage</a>
</div>