
@{
    Layout="~/Views/octAccountLayout.cshtml";  
    //Layout="~/Views/octLayout.cshtml";
    ViewBag.Title="Committed Successfully";
}

<div class="row" style="min-height:500px;text-align: center;">
    <div class="col-sm-12" style="margin:10% 0;">
        <h2>Thank you @ViewBag.UserName !</h2>
        <h3>We have received your message and will get back to you shortly.</h3>
        <br>
        <a href="/" class="btn-regular" style="width:280px;height:40px;font-size:20px;margin: 0 auto;">Return to Homepage</a>
    </div>
</div> 