html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.maintitlecontainer {
  display: flex;
  display: -webkit-flexbox;
  align-items: center;
  height: 100%;
}
.maintitlecontainer h1 {
  margin-bottom: 20px;
}
.maintitle {
  text-align: center;
  font-family: arial;
  font-weight: 100;
  font-size: 50pt;
  width: 100%;
}
.tutorialContainer {
  padding: 40px;
}
